<p>
	<%= User.human_attribute_name(:email) %>:
	<%= @user.email %>
</p>

<p>
	<%= User.human_attribute_name(:address) %>:
	<%= @user.address%>
</p>

<p>
	<%= User.human_attribute_name(:postcode) %>:
	<%= @user.postcode %>
</p>

<p>
	<%= User.human_attribute_name(:selfintroduce) %>:
	<%= @user.selfintroduce %>
</p>
<%= link_to '戻る', :back %>
