<h1><%= t('views.common.title_show', name: Book.model_name.human) %></h1>

<p>
  <strong><%= Book.human_attribute_name(:title) %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:memo) %>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:author) %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:picture) %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to t('views.common.edit'), edit_book_path(@book) %> |
<%= link_to t('views.common.back'), books_path %>

<h2><%= Comment.model_name.human%> <%= @comments.count %></h2>
<% @comments.each do |comment| %>
  <li>
    <%= comment.body %>
    <%= comment.user.name %>
    <%= l comment.created_at, format: :short %>
    <% if comment.user == current_user %>
      <%= link_to t('views.common.destroy'), book_comment_path(@book, comment), method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
    <% end %>
  </li>
<% end %>

<h3><%= t('views.common.new') %></h3>

<%= form_with model: [@book, Comment.new] do |form| %>
  <div><%= hidden_field_tag :book_id, @book.id %></div>
  <div>
    <%= form.label :body%>
    <%= form.text_area :body, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
