<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div>
      <h2><%= report.errors.count %><%= t('errors.prohibited_this_report_from_being_saved')%>:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :context %>
    <%= form.text_area :context %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
