<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:context) %>:</strong>
  <%= @report.context %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
  <%= l @report.created_at, format: :short %>
</p>

<p>
  <strong><%= t('reports.show.contributor') %>:</strong>
  <% if @user.name.empty? %>
    <%= @user.email %>
  <% else %>
    <%= @user.name %>
  <% end %>
</p>

<h2>コメント <%= @comments.count %> </h2> 
<% @comments.each do |comment| %>
  <li>
    <%= comment.body %>

    <% if comment.user.name.empty? %>
      <%= comment.user.email%>
    <% else %>
      <%= comment.user.name %>
    <% end %>

    <%= l comment.created_at, format: :short %>

    <% if comment.user == current_user %>
      <%= link_to t('views.common.destroy'), report_comment_path(@report, comment), method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
    <% end %>

  </li>
<% end %>

<h3><%= t('views.common.new') %></h3>

<%= form_with model: [@report, Comment.new] do |form| %>
  <div>
    <%= form.label :body%>
    <%= form.text_area :body, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<div>
  <% if @user == current_user %>  
    <%= link_to t('views.common.destroy'), @report, method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
    <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
  <% end %>
  <%= link_to t('views.common.back'), reports_path %>
</div>
